.header--main 
  max-width: $width--content-with-sb

.has-sb--right, .has-sb--left, .template--index
  .header--main 
    max-width: $width-contain
    

.header--main 
  height: 115px
  margin: 0 auto
  position: relative
  // padding: 0 10px
  z-index: 1
  overflow: hidden
  *
    color: $c-white
  @include bpMax(600px)
    height: 137px
.header--title, .header--subtitle 
  display: inline-block
  @include bpMax(600px)
    width: 100%
    text-align: center

.header--title 
  h1
    font-size: 2em
    text-transform: uppercase
    a 
      // color: darken($c-bg, 27)
      color: lighten($c-link, 1)
      transition: color .2s ease
      &:hover
        color: lighten($c-link, 27)

.header--subtitle 
  h2 
    font-size: .85em
    color: lighten($c-link, 27)
    &:before 
      content: "-"
      margin-left: 8px
      margin-right: 5px
      @include bpMax(600px)
        content: ""
.header--nav 
  position: absolute
  left: 0
  // top: 70%
  bottom: 5px
  li a 
    font-weight: 600  
    padding: 5px 15px 10px
    color: inherit
    // text-transform: uppercase
    position: relative
    // &:first-of-type
    //   padding-left: 0
    // &:after
    //   content: ''
    //   width: 13px 
    //   border: 2px solid darken($c-white, 17)
    //   position: absolute
    //   left: 0
    //   right: 0
    //   bottom: 0
    //   margin: 0 auto
    //   transform: translateY(900%)
    //   transition: transform .3s ease
    // &:hover, &.nav--active
    //   &:after 
    //     transform: translateY(100%)
    &.nav--active 
      background: $c-white
      color: $c-type
    