$c-white  = #FEFEFE
$c-black  = #333333
$c-gray   = #F8F7F3
$c-tan    = #DFDED9
$c-green  = #91B382
$c-orange = #f5a93a
$c-red    = #F0342B
$c-blue   = #047AC8

$body-color                 = lighten($black, 15)
$t-light                    = $c-white
$t-dark                     = $body-color
$body-background-color      = #3D3A37
$link-color                 = lighten($body-color, 35)
$link-text-decoration       = none
$link-hover-text-decoration = underline
$pre-background-color       = transparent
$pre-border-radius          = $border-radius
$rule-border-style          = solid
$rule-border-width          = $border-width
$rule-border-color          = $border-color



body
  // color: $body-color
  background-color: $body-background-color

// a
//   color: $link-color
//   text-decoration: $link-text-decoration
//   transition: .2s ease color

// a:hover
//   // text-decoration: $link-hover-text-decoration
//   color: $body-color

// pre, code
//   background-color: $pre-background-color
//   border-radius: $pre-border-radius

// hr
//   border: 0
//   border-bottom-style: $rule-border-style
//   border-bottom-width: $rule-border-width
//   border-bottom-color: $rule-border-color