input
  border-radius: $btn-radius
  background: transparent
.input-light
  color: $t-light
  border: solid 1px white
  color: $t-light
  &:focus
    border-color: $c-blue

.inline-form
  lost-utility: clearfix
  width: 100%
.inline-input
  lost-column: 9/12 0 10px
  margin-top: 0
.inline-submit
  margin-top: 0
  lost-column: 3/12 0 10px

.attached-input
  lost-column: 9/12 0 0px
  margin-top: 0
  border-right: 0
  border-radius: $btn-radius 0 0 $btn-radius
  padding: $space-1
  line-height: 1.2
.attached-submit
  lost-column: 3/12 0 0px
  margin-top: 0
  border-radius: 0 $btn-radius $btn-radius 0
  padding: $space-1
  line-height: 1.2