$space--owl = 1.25em

$width-contain = 1180px
$width-sb = 275px
$gutter = 3%
$width--content-with-sb = $width-contain - $width-sb

$container-offset = 33px

$space-container = 35px

$container-padding = $space-container
$container-space-top = $container-padding
$container-space-side = $container-padding
$container-space-btm = $container-padding

// c-generics
$c-white =   #FEFEFE
$c-black =   #333333
$c-gray =    #F8F7F3
$c-tan =     #DFDED9
$c-green =   #91B382
$c-orange =  #f5a93a
$c-red =     #F0342B
// c-specifics
$c-bg = #3D3A37


// Lobotomized Owl Selector - brilliant
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
// adjust accordingly
// Note: margin-bottom might be a better approach
.container * + *
  margin-top: $space--owl

html
  background-color: $c-bg
  overflow-y: scroll

.contain, .container
  margin: 0 auto
  max-width: $width--content-with-sb
  width: 100%
.container
  padding: 0 $space-container 50px
  margin-left: auto
  margin-right: auto
.content
  padding: $container-space-top $container-space-side $container-space-btm
  position: relative
  z-index: 10
  background-color: $c-white
  width: auto
  margin-top: -($container-offset)
  margin-bottom: -17px
  border-radius: 3px
  +below(800px)
    padding: ($space-container/2)


.has-sb--right, .has-sb--left, .template--index
  .contain, .container
    max-width: $width-contain
    +below(800px)
      max-width: 100%
  .content
    max-width: 75%
    +below(800px)
      max-width: 100%
