$space--owl = 1.25em

$width-contain = 1180px
$width-sb = 275px
$gutter = 3%
$width--content-with-sb = $width-contain - $width-sb

$container-offset = 33px

$space-container = 35px

$container-padding = $space-container
$container-space-top = $container-padding
$container-space-side = $container-padding
$container-space-btm = $container-padding

// c-specifics
$c-bg = $body-background-color

/* --------------------------
Radiuses */

$btn-radius = 2px

/* --------------------------
Transition Speeds */

$btn-hover-speed = 0.2s




// Lobotomized Owl Selector - brilliant
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
// adjust accordingly
// Note: margin-bottom might be a better approach
.container * + *
  margin-top: $space--owl

html
  background-color: $c-bg
  overflow-y: scroll

.contain, .container
  margin: 0 auto
  max-width: $width--content-with-sb
  width: 100%
.container
  padding: 0 $space-container 50px
  margin-left: auto
  margin-right: auto
.content-outer
  background-color: $c-white
  border-radius: 3px
  margin-top: -($container-offset)
  margin-bottom: -17px
  z-index: 10
  position: relative
  width: auto
.content
  z-index: 15
  padding: $container-space-top $container-space-side $container-space-btm
  +below(800px)
    padding: ($space-container/2)


.has-sb--right, .has-sb--left, .template--index
  .contain, .container
    max-width: $width-contain
    +below(800px)
      max-width: 100%
  .content-outer
    max-width: 75%
    +below(800px)
      max-width: 100%
