.section-nav-top
ul.section-nav-top-ul
  display: inline-block
  width: 100%
  text-align: center
  margin: 0
  li
    display: inline-block
    width: 25%
    background: lightgrey
    margin: 0
    transition: background .2s ease
    cursor: pointer
    @extend .caps
    font-size: .6em
    // &:first-of-type
    //   border-radius: 3px 0 0 0
    // +above(800px)
    //   &:last-of-type
    //     border-radius: 0 3px 0 0
    +below(800px)
      width: 50%
      // &:nth-child(2)
      //   border-radius: 0 3px 0 0
    &:hover
      background: darken(lightgrey, 17)
  li a
    padding: 3px 23px 3px
    display: inline-block
    width: 100%
  li a.nav--active
    background: darken(lightgrey, 17)

.section-nav-top-indexBar
  margin: 0
  background: lightgrey
  cursor: pointer
  line-height: 10px
  border-radius: 3px 3px 0 0
  a
    color: transparent
  &:hover,
  & .nav--active
    background: darken(lightgrey, 17)
    border-radius: 3px 3px 0 0