

.post--header
  position: relative
  &:after
    content: ""
    width: 100%
    display: block
    height: 1px
    border-bottom: solid 1px lighten($c-type, 87)
    position: absolute
    bottom: 9px
    z-index: 0

.post--title
  font-size: 2em
  line-height: 1.1
  +below(700px)
    font-size: 2em

.post--meta
  margin-top: 10px
  font-size: .8em
  font-family: $font-family-heading
  color: lighten($c-type, 57)
  background: white
  display: inline-block
  position: relative
  z-index: 10
  padding-right: 15px

.post--post
  margin-top: 2.5rem
  margin-bottom: 5rem

